/*Common*/        
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Permanent+Marker&family=Ysabeau+SC&display=swap');
.searchicon {

    float: right;
}

.material-symbols-outlined {
  float: right;
}

nav {
    background-color: #07102c;
    padding: 16px 20px;
    
    overflow: hidden;
}


nav select{
    float: left;
    margin: 10px;
    overflow: hidden;
}

nav img {
    padding-right: 10px;
    object-fit: cover;
    width: 80px;

}


nav a {
    float: left;    
    text-decoration: none;
    font-size: 17px;
}

nav .search {
    margin: 10px;
    position: relative;
    float: right;

}
nav span{
    margin: 10px;
    
}

footer
{
    text-align: center;
    background-color:#a8abb7;
    padding: 50px;
    color: #07102c;
}

html {
    color:#313a71;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bolder;

}


body {
    width: 1200px;
    padding: 0px;
    margin: 0px auto;
}

h1, h3 { 
    font-weight: bolder;
    font-family: 'Exo', sans-serif;
}

/*Home*/ 

 
         
.home main h2 {
    font-size: 75px;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.home main h1 {
    font-size: 75px;
    color: #07102c;
    font-weight: bold;
    
}

.home main .hotelpng {
    width:500px ;
    height:500px ;
    border-radius: 50%;
    float: right;
    padding: 25px;
}



.home main {
    padding: 20px;
    

}


.home {
    background-color:#a8abb7;
}

/*Facilities*/
.facilities {
    text-align: center;
}
.facilities table {
    margin-top: 60px;
    float: right;
    border: 2px solid black;

}
.facilities td {
    font-size: medium;
    padding: 5px;
}
.facilities main img {
    height: 400px;
    width: 500px;
    object-fit: cover;
    margin-bottom: 40px;
    margin-left: 10px;
}

/*Add*/
.add h1,p {
    text-align: center;
}


.add main {
    font-size: 20px;
    margin: 20px;
}

.add main .text{
    height: 40px;
    width: 1200px;
    border-radius: 10px;
    margin-top: 10px;
}

.add main .button2{
    width: 160px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
    
}

.add main .button1{
    color: white;
    background-color: #07102c;

    
}

.add main .button{
    text-align: center;
}

.required-field::after {
    content: "*";
    color: red;
  }

  /*Gallery*/
.gallery{
    text-align: center;
}

.gallery table img {
    width: 300px;
    border-radius: 30px;
    object-fit: cover;
    
}

.gallery table {
    border-spacing: 30px;
}

.gallery td {

    border: 1px solid gray;
    border-radius: 30px;
    
}


.gallery .center {
    margin-left: auto;
    margin-right: auto;
  }