/*Common*/        
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Permanent+Marker&family=Ysabeau+SC&display=swap');
.searchicon {

    float: right;
}

.material-symbols-outlined {
  float: right;
}

nav {
    background-color: #07102c;
    padding: 16px 20px;
    
    overflow: hidden;
}


nav select{
    float: left;
    margin: 10px;
    overflow: hidden;
}

nav img {
    padding-right: 10px;
    object-fit: cover;
    width: 80px;

}


nav a {

    color: grey;
    padding: 10px;
    text-align: center;    
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    color: green;
}

nav .search {
    margin: 10px;
    position: relative;
    float: right;

}
nav span{
    margin: 10px;
    
}

nav .search {
    text-align: right;
}

footer
{
    margin-top: 50px;
    text-align: center;
    background-color:#a8abb7;
    padding: 50px;
    color: #07102c;
}

html {
    color:#313a71;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bolder;

}


body {
    font-family:'Ysabeau SC', sans-serif;
    /*width: 1200px;*/
    padding: 0px;
    margin: 0px auto;
}
 
h1, h3 { 
    font-weight: bolder;
    font-family: 'Exo', sans-serif;
}

/*Home*/

.carousel-inner .carousel-item,
.carousel-inner .carousel-item img {
    height: 500px; 
    width: 100%;
}

.carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: center;
}

         
.home main h2 {
    font-size: 75px;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.home main h1 {
    font-size: 75px;
    color: #07102c;
    font-weight: bold;
    
}




.home main {
    padding: 20px;
    

}
.home main img {
    width: 400px;
    

}


.home {
    background-color:#a8abb7;
}

/*Facilities */
.facilities .center h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.facilities .center p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}




.facilities table {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.facilities table tr:nth-child(odd) {
    background-color: #f2f2f2; 
}

.facilities table td {
    padding: 0.75em;
    border: 1px solid #eaeaea;
}

.facilities table td a {
    color: #3498db;
    text-decoration: none;
}

.facilities table td a:hover {
    text-decoration: underline;
}

.facilities .content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
    margin: 20px 0;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.facilities .content-flex img {
    max-width: 45%; 
}


/*Add*/
.add h1,p {
    text-align: center;
}


.add main {
    font-size: 20px;
    margin: 20px;
}

.add main .text{
    height: 40px;
    width: 1200px;
    border-radius: 10px;
    margin-top: 10px;
}

.add main .button2{
    width: 160px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
    
}

.add main .button1{
    color: white;
    background-color: #07102c;

    
}

.add main .button{
    text-align: center;
}

.required-field::after {
    content: "*";
    color: red;
  }


.center{
    text-align: center;
}
/*Gallery*/
.gallery .center select{
    margin: 20px;
}


.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px; 
}

.gallery-item {
    border-radius: 20px;
	border-style: solid;
	border-width: 0px;
    
    box-shadow: 0 1px 10px black;
    overflow: hidden;
    transition: transform 0.3s;

    color: grey;
	font-size: 19px;
	text-align: center;
	width: 400px;
    position: relative;
    padding-bottom: 48px;
}

.gallery-item:hover {
    transform: scale(1.05); 
}

.gallery-item img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
    transition: transform 0.3s;
}

.gallery-item:hover img {
    color: rgb(255, 255, 255);
    transform: scale(1.1); 
}







/*Login*/



.login main {
    font-size: 20px;
    margin: 20px;
}

.login main form .text{
    height: 40px;
    width: 300px;

    margin: 10px;
}

.index{
    background-color: white;

}
.looking{
    width: 900px;
    height: 50px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 25px;
    }
    
    .select{
    height: 50px;
    width: 450px;
    }

.searching {
    background-color: #060f2d;
    color: white;
    width: 5%;
    border-radius: 100px;
    font-size: 16px;
    padding: 12px;
    margin-left: 200px;
    margin-top: 15px;
  
    }